@import "variables";

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $orange;
  padding-bottom: 20px;
  font-family: 'Anton-Regular', sans-serif;
  .minilogo {
    width: 25%;
  }
}

.pictos {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;

  .icon {
    width: 50px;
    height: 50px;
  }
}

.plus {
  background-color: $grey;
  color: white;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 20px;
  font-family: 'Lato-Black', sans-serif;
  text-align: center;
}

.inscription {
  background-color: $orange;
  font-family: 'Lato-Black', sans-serif;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.texte {
  margin-bottom: 20px;
  color: $grey;
  background-image: url("../svg/points.svg");
}

.article {
  .photo {
    width: 50%;
    margin: 10px;
  }
  div {
    font-family: 'Lato-Regular', sans-serif;
    margin-bottom: 20px;
  }

  .actu {
    background-color: $orange;
    color: white;
  }

  .demarche {
    background-color: $green;
  }

  .installation {
    background-image: url("../svg/points.svg");
  }

  .temoignage {
    background-color: $lightbrown;
  }
}

footer {
  text-align: center;
  background-color: $grey;
  color: white;

  .partenaire {
    width: 50px;
  }
}
