.logo {
  width: 50%;
  padding: 5px;
}

.photoHead {
  max-width: 100%;
  height: auto;
  background-image: url("../svg/points.svg");
  padding-bottom: 50px;
}

.iconMenu {
  width: 9%;
  padding-right: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 50px;
}