$green: rgb(179, 209, 67);
$orange: rgb(252, 183, 49);
$grey: rgb(109, 111, 113);
$brown: rgb(195, 165, 117);
$lightbrown: rgb(232, 221, 202);

@font-face {
  font-family: 'Anton-Regular';
  src: url('../polices/Anton-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../polices/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('../polices/Lato-Black.ttf');
}